[submodule "submodules/scelta"]
	path = submodules/scelta
	url = git@github.com:vittorioromeo/scelta.git
[submodule "submodules/seastar"]
	path = submodules/seastar
	url = git@github.com:vgatherps/seastar.git
